Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

URxvt*font: xft:M+ 1mn:size=11
URxvt*scrollBar: false
URxvt.perl-ext: default,matcher
URxvt.transparent: true
URxvt.urlLauncher: /usr/bin/firefox
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt.internalBorder: 6
URxvt*cursorBlink: true
